<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Python database landing page</h1>
    
        <form action="https://lab5-wahltowema-uc.a.run.app/read" method="GET">
            <input type="submit" value="Display all students">
        </form>

        <form id="studentForm" enctype="application/json" onsubmit="submitForm(); return false;">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
        
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" required><br>
        
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" required><br>
        
            <button type="button" onclick="submitForm()">Submit</button>
        </form>
        
        <script>
            function submitForm() {
                event.preventDefault();

                // Get form data
                var formData = new FormData(document.getElementById("studentForm"));
                

                // Create JSON object from FormData
                var jsonData = {};
                formData.forEach(function(value, key){
                    jsonData[key] = value;
                });
                
                console.log('Form Data:', JSON.stringify(jsonData));


                // Make a POST request using fetch API
                fetch('/write', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response data as needed
                    console.log(data);
                    alert(data.msg);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error submitting the form.');
                });
            }
        </script>
    </body>
</html>