<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Python database landing page</h1>
    
        <form action="https://lab5-wahltowema-uc.a.run.app/read" method="GET">
            <input type="submit" value="Display all students">
        </form>

        <form onsubmit="postForm(); return false">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
    
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" required><br>
    
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" required><br>
    
            <input type="submit" value="Add new student to database">
        </form>
    </body>

    <script>
        function postForm()
        {
            var data = {
                name: document.getElementById("name").value,
                course: document.getElementById("course").value,
                year: document.getElementById("year").value
            };

            fetch('https://lab5-wahltowema-uc.a.run.app/write', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(res => res.json())
            .then(data => {
                console.log('data: ', data)
                // document.body.innerHTML = `<pre>${JSON.stringify(data, null, 2)}</pre>`;
                code.innerHTML = JSON.stringify(data, null, 2);
            }).catch(err => {
                console.error('error: ', err)
            });
        }
    </script>
</html>